<div class="jumbotron bg-danger">
    <h1>Error en Login!!</h1>
</div>

<script>
    setTimeout(()=>{
    window.location.href = "https://desafio19-coder.herokuapp.com/auth/signup";

    },2000)
</script>